<!-- Start Nav -->
<section class="border:1px solid rgba(0,0,0,.125);">
<nav class="navbar navbar-expand-sm  d-flex sticky-top mx-auto w-75">

    <a class="navbar-brand" style="max-height: 8vh; height: max-content;" href="#">
        <img src="{{site.data.organization.logo}}" class="img-fluid" style="max-height: 8vh; height: fit-content;">
    </a>

  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      
    <div class="collapse navbar-collapse justify-content-left w-100" id="collapsibleNavbar">
        <ul class="navbar-nav nav">
        {% for item in site.data.navigation.data %}
        {% if item.drop and item.drop == "false" %}
            <li class="nav-item text-xl-center ">
            <a class="nav-item text-xl-center nav-link {% if page.url == item.link + .html %} active{% endif %}" href="{{ item.link }}">
            {{ item.name }}
            </a>
            </li>

        {% else %}
            <li class="nav-item dropdown">
            <a class="text-xl-center nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{item.name}}
            </a>
            <div class="dropdown-menu">
                {% for url in item.links %}
                <a class="dropdown-item" href="{{url.url}}">{{url.name | capitalcase}}</a>
                {% endfor %}
            </div>
            </li>
        {% endif %}
        {% endfor %}
        </ul>


        <button class="nav-item btn" id="themeToggleBtn">
            <i class="fa fa-adjust"></i>
        </button>

    </div>
  </nav>
</section>

<!-- End Nav -->