<!-- Start Nav -->
<!-- <nav class="navbar navbar-expand-xl bg-light">
    <div class="container-fluid">
            <div class="row w-100">
                <div  class="col-md-3"></div>
                <div class="col-md-1">
                    <a class="navbar-brand" href="#">
                        <img src="{{site.data.organization.logo}}" style="width:5vw;">
                    </a>

                </div>
                <div class="col-2">
                    <div class="d-flex float-left h-100 w-100">
                        <ul class="navbar-nav h-100 w-100">
                            {% for item in site.data.navigation.data %}
                                    
                                        <li class="nav-item text-center h-100 w-100">
                                            <a class="nav-item d-inline-block text-center align-middle nav-link h-100 w-100" href="{{item.link}}">{{item.name}}</a>
                                        </li>
                                    
                            {% endfor %}   
                        </ul>
                    </div>
                </div>    
            </div>
    </div>
</nav> -->

<section>
<nav class="navbar navbar-expand-sm  d-flex bg-light navbar-light sticky-top mx-auto w-75">

    

    <div class="navbar-brand pl-lg-5">
        <a class="navbar-brand" href="#">
            <img src="{{site.data.organization.logo}}" style="width:4.5rem;">
        </a>
    </div>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      
    <div class="collapse navbar-collapse justify-content-left" id="collapsibleNavbar">
        <ul class="navbar-nav nav">
        {% for item in site.data.navigation.data %}
        {% if item.drop and item.drop == "false" %}
            <li class="nav-item text-xl-center ">
            <a class="nav-item text-xl-center nav-link" href="{{ item.link }}" {% if page.url == item.link + .html %}style="color: black;"{% endif %}>
            {{ item.name }}
            </a>
            </li>

        {% else %}
            <li class="nav-item dropdown">
            <a class="text-xl-center nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{item.name}}
            </a>
            <div class="dropdown-menu">
                {% for url in item.links %}
                <a class="dropdown-item" href="{{url.url}}">{{url.name | capitalcase}}</a>
                {% endfor %}
            </div>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
  </nav>
</section>

<!-- End Nav -->